@page
@model cuidadobovinominticc3.Pages.aper_propietarioModel
@{
}
<br>
<br>


<section id="container">
    <div class="form_register">
        <h1><img src="https://cdn.icon-icons.com/icons2/624/PNG/512/Add_User-80_icon-icons.com_57380.png"width="50" /> Registro de Clientes</h1>
        <form action="" method="post">
            <label for="Identificacion">Identificacion</label>
            <input type="number" name="Identificacion" id="Identificacion" placeholder="Identificacion">
            <label for="Nombre">Nombre</label>
            <input type="text" name="Nombre" id="Nombre" placeholder="Nombre ">
            <label for="Apellido">Apellido</label>
            <input type="text" name="Apellido" id="Apellido" placeholder="Apellido">
            <label for="Direccion">Direccion</label>
            <input type="text" name="Direccion" id="Direccion" placeholder="Direccion">
            <label for="Telefono">Telefono</label>
            <input type="text" name="Telefono" id="Telefono" placeholder="Telefono">
            <label for="Genero">Genero</label>
            <input type="text" name="Genero" id="Genero" placeholder="Genero">
            <label for="E_mail">Correo Electrónico</label>
            <input type="email" name="E_mail" id="E_mail" placeholder="Correo Electrónico">
            <label for="Nombre_Hacienda">Nombre Hacienda</label>
            <input type="text" name="Nombre_Hacienda" id="Nombre_Hacienda" placeholder="Nombre de la Hacienda">
           
        
        
				<button type="submit" class="btn_save"><i class="fa-solid fa-floppy-disk"></i> Crear Cliente</button>

        </form>
    </div>


</section>