@page
@model cuidadobovinominticc3.Pages.aper_veterinarioModel
@{
}
<br>
<br>


<section id="container">
    <div class="form_register">
        <h1><img src="https://cdn.icon-icons.com/icons2/944/PNG/512/medical-29_icon-icons.com_73943.png"width="50" /> Registro de Veterinarios</h1>
        <form action="" method="post">
            <label for="Identificacion">Identificacion</label>
            <input type="number" name="Identificacion" id="Identificacion" placeholder="Identificacion">
            <label for="Nombre">Nombre</label>
            <input type="text" name="Nombre" id="Nombre" placeholder="Nombre ">
            <label for="Apellido">Apellido</label>
            <input type="text" name="Apellido" id="Apellido" placeholder="Apellido">
            <label for="Direccion">Direccion</label>
            <input type="text" name="Direccion" id="Direccion" placeholder="Direccion">
            <label for="Telefono">Telefono</label>
            <input type="text" name="Telefono" id="Telefono" placeholder="Telefono">
            <label for="Genero">Genero</label>
            <input type="text" name="Genero" id="Genero" placeholder="Genero">
            <label for="E_mail">Correo Electrónico</label>
            <input type="email" name="E_mail" id="E_mail" placeholder="Correo Electrónico">
            <label for="Tarjeta_Profesional">Tarjeta Profesional</label>
            <input type="text" name="Tarjeta_Profesional" id="Tarjeta_Profesional" placeholder="Tarjeta Profesional">
        
				<button type="submit" class="btn_save"><i class="fa-solid fa-floppy-disk"></i> Crear Veterinario</button>

        </form>
    </div>


</section>