@page
@model cuidadobovinominticc3.Pages.visitasModel
@{
}
<br>
<br>


<section id="container">
    <div class="form_register">
        <h1><img src="https://cdn.icon-icons.com/icons2/2328/PNG/512/virus_medical_records_diagnosis_document_icon_142217.png"width="50" > Visitas</h1>
        <form action="" method="post">
            <label for="Id_Historia">Codigo</label>
            <input type="number" name="Id_Historia" id="Id_Historia" placeholder="Codigo Historia">
            <label for="Fecha_Visita">Fecha</label>
            <input type="date" name="Fecha_Visita" id="Fecha_Visita" placeholder="Fecha Visita ">
            <label for="Id_Vaca">Codigo Vaca</label>
            <input type="text" name="Id_Vaca" id="Id_Vaca" placeholder="Codigo Vaca">
            <label for="Id_Veterinario">Codigo Veterinario</label>
            <input type="text" name="Id_Veterinario" id="Id_Veterinario" placeholder="Codigo Veterinario">
            <label for="Temperatura">Temperatura</label>
            <input type="text" name="Temperatura" id="Temperatura" placeholder="Temperatura">
            <label for="Peso">Peso</label>
            <input type="text" name="Peso" id="Peso" placeholder="Peso">
            <label for="Frecuencia_Respiratoria">Frecuencia Respiratoria</label>
            <input type="text" name="Frecuencia_Respiratoria" id="Frecuencia_Respiratoria" placeholder="Frecuencia Respiratoria">
            <label for="Frecuencia_Cardiaca">Frecuencia Cardiaca</label>
            <input type="text" name="Frecuencia_Cardiaca" id="Frecuencia_Cardiaca" placeholder="Frecuencia Cardiaca">
            <label for="Estado_Animo">Estado Animo</label>
            <input type="text" name="Estado_Animo" id="Estado_Animo" placeholder="Estado Animo">
            <br>
            <label for="Diagnostico">Diagnostico</label>
            <textarea name="Diagnostico" id="Diagnostico" cols="59" rows="10" placeholder="Diagnostico"></textarea>
            
            <label for="Recomendaciones">Recomendaciones</label>
            <textarea name="Recomendaciones" id="Recomendaciones" cols="59" rows="10" placeholder="Recomendaciones"></textarea>
            
            <label for="Medicamentos">Medicamentos</label>
            <textarea name="Medicamentos" id="Medicamentos" cols="59" rows="10" placeholder="Medicamentos"></textarea>
            
        
        
				<button type="submit" class="btn_save"><i class="fa-solid fa-floppy-disk"></i> Crear Visita</button>

        </form>
    </div>


</section>
